global
    maxconn 4096
    nbthread 1
    tune.bufsize 4096

defaults
    mode http
    timeout connect 1s
    timeout client  3s
    timeout server  3s
    no log

frontend in
    bind *:9999
    default_backend api

backend api
    balance roundrobin
    server api-1 /sockets/api-1.sock
    server api-2 /sockets/api-2.sock
