global
    maxconn 4096
    ulimit-n 65536

defaults
    mode http
    option http-keep-alive
    option dontlognull
    timeout connect 2000
    timeout client 20000
    timeout server 20000
    timeout http-keep-alive 75000

frontend main
    bind *:9999
    default_backend api

backend api
    balance roundrobin
    option httpchk GET /ready
    server api-1 /sockets/api-1.sock check inter 5s fall 3 rise 2
    server api-2 /sockets/api-2.sock check inter 5s fall 3 rise 2
